# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Great Expectations runtime files
gx/uncommitted/

# Old GE folder (safety)
great_expectations/

# Data folders (VERY IMPORTANT)
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

#  mlfow files

mlruns/
mlflow/
mlflow_artifacts/